#todo-error{
  color: red;
  font-size: 2em;
}


#bg-image{
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.card{
opacity: 90%;
border: none;
}
.text-shadow{
  text-shadow: 1px 1px black;
}
.space{
  height: 20vh;
}

body{
  font-family: 'Merriweather', serif;
  overflow: hidden;
}
.overflow{
overflow-y: scroll;
overflow-x: hidden;
max-height: 20vh;

}
.action{
  cursor: pointer;
}
.space1{
  height: 30vh;
}

.hidden{
  display: none;
}

.show:hover +.hidden{
  display: block;
}
